nav{
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:0;
    z-index: 2;
    background-color:rgb(252, 242, 227);
    box-shadow: 0px 1px rgb(199, 176, 139,0.3);
    
    
    
    div.icon{
        position: absolute;
        margin: 1rem;
        padding: 0.75rem;
        background-color: rgba(235, 207, 162,0.9);
        max-width: 130px;
        max-height: 130px;
        border-radius: 50%;
        flex: 1 1 200px;
        border: 1px solid rgb(199, 176, 139) ;
        z-index: 4;
        p.iconStyle{
           
            font-size: 2rem;
            font-family: 'Merriweather', serif;
            text-align: center;

        }
    }

    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex: 5 1 600px;
        margin-left: 10rem;
        position: relative;
        top:8vh;
       
        li{
            
            
            a{
                text-decoration: none;
                font-size: 1.25rem;
                color: #8b6f41;
                padding: 2rem;
                
                
            }
            a:hover{
                color:black
            }
            
        }
    }

    

    div.cart{
          svg{
                position: absolute;
                color:#8b6f41;
                width:7vh;
                height:7vh;
                cursor: pointer;
                top:3rem;
                right: 4rem;
            }
            
        }

        div.number, div.number-0{
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            background-color: red;
            font-weight: bold;
            width:30px;
            height:30px;
            border-radius: 50%;
            position: absolute;
            top:3.5rem;
            right:2rem;
            
        }

        button{
            position: absolute;
            border: none;
            background-color: transparent;
            top:3rem;
            right: 2rem;
            
            
            
        }
        
    }

    


// RWD showMenu

