* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

nav {
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(252, 242, 227);
  box-shadow: 0px 1px rgba(199, 176, 139, 0.3);
}
nav div.icon {
  position: absolute;
  margin: 1rem;
  padding: 0.75rem;
  background-color: rgba(235, 207, 162, 0.9);
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
  flex: 1 1 200px;
  border: 1px solid rgb(199, 176, 139);
  z-index: 4;
}
nav div.icon p.iconStyle {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  text-align: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex: 5 1 600px;
  margin-left: 10rem;
  position: relative;
  top: 8vh;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #8b6f41;
  padding: 2rem;
}
nav ul li a:hover {
  color: black;
}
nav div.cart svg {
  position: absolute;
  color: #8b6f41;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 3rem;
  right: 4rem;
}
nav div.number, nav div.number-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 3.5rem;
  right: 2rem;
}
nav button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 3rem;
  right: 2rem;
}

section.background {
  min-height: 35vh;
  background-color: rgba(235, 207, 162, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
section.background div.line {
  background-color: rgb(138, 121, 91);
  width: 15vw;
  height: 2px;
  position: absolute;
  top: 3.5rem;
}
section.background .p1 {
  font-size: 1.5rem;
}
section.background .p2 {
  font-size: 10px;
  margin-top: 1rem;
}

img.slidesImg {
  display: block;
  width: 100%;
  max-height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
}

p.font {
  font-size: 3.5rem;
}

p.filterfont {
  font-size: 2rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

button.shopNow {
  border: 3px solid rgb(199, 176, 139);
  padding: 0.75rem 1rem;
  font-size: 2rem;
  background-color: rgba(235, 207, 162, 0.9);
  border-radius: 20px;
}

div.background {
  background-color: rgb(252, 242, 227);
  min-height: 100vh;
}
div.background div.container {
  background-color: white;
  width: 80%;
  border-radius: 40px;
  position: relative;
  top: 2rem;
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cards1 {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 3rem;
  width: 250px;
  height: 400px;
  padding: 1.5rem;
  border: 3px solid rgb(199, 176, 139);
  text-align: center;
}
.cards1 img {
  width: 200px;
  height: 163px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards1 .details p:nth-child(1) {
  font-weight: bold;
  font-size: 1.25rem;
}
.cards1 .details p:nth-child(2) {
  text-decoration: line-through;
  font-weight: 500;
  color: grey;
}
.cards1 .details p:nth-child(3) {
  font-weight: bold;
}
.cards1 button {
  border: none;
  padding: 0.6rem;
  margin: 0rem 3rem;
  border-radius: 10px;
  background-color: #d13e3e;
  color: white;
  font-weight: 700px;
}

div.background {
  background-color: rgb(252, 242, 227);
  min-height: 100vh;
}
div.background div.container {
  background-color: white;
  width: 80%;
  border-radius: 40px;
  position: relative;
  top: 2rem;
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cards2 {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 1rem 3rem;
  width: 250px;
  height: 400px;
  padding: 1.5rem;
  border: 3px solid rgb(199, 176, 139);
  text-align: center;
}
.cards2 img {
  width: 200px;
  height: 163px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards2 .details p:nth-child(1) {
  font-weight: bold;
  font-size: 1.25rem;
}
.cards2 .details p:nth-child(2) {
  font-weight: bold;
}
.cards2 .details p:nth-child(3) {
  font-weight: bold;
}
.cards2 button {
  border: none;
  padding: 0.6rem;
  margin: 0rem 3rem;
  border-radius: 10px;
  background-color: #d13e3e;
  color: white;
  font-weight: 600px;
}

.imgAbout {
  width: 100%;
  height: 73vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  opacity: 0.3;
  z-index: 0;
  position: relative;
}

.text {
  text-align: center;
  position: relative;
  top: -24rem;
}
.text p {
  padding: 2rem;
  font-size: 1.25rem;
}

h2.cart {
  text-align: center;
  background-color: rgba(235, 207, 162, 0.9);
  border-radius: 10px;
}

.title {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.title p.qty {
  margin-left: 21rem;
}
.title p {
  font-size: 1.4rem;
}

.table {
  border-bottom: 1px solid lightgray;
}
.table .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table .products img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 163px;
}
.table .products p.pTitle {
  width: 200px;
  margin-left: -8rem;
  font-size: 1.2rem;
}
.table .products .qContainer {
  display: flex;
  padding: 1rem;
}
.table .products .qContainer p.qbox {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}
.table .products .qContainer button.add, .table .products .qContainer button.remove {
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
  background-color: transparent;
  color: rgb(199, 176, 139);
}

.totalPrice {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
}

.checkout {
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  margin: 1rem 20rem;
  background-color: rgba(235, 207, 162, 0.9);
  border-radius: 10px;
  font-size: 1.45rem;
  font-weight: 550;
}

h5 {
  text-align: center;
  margin: 2rem;
}

@media screen and (min-width: 350px) and (max-width: 370px) {
  nav {
    top: -1px;
  }
  nav div.icon {
    position: absolute;
    max-width: 80px;
    max-height: 80px;
  }
  nav div.icon p.iconStyle {
    font-size: 1.2rem;
  }
  nav div.cart {
    position: fixed;
    top: -0.5rem;
    left: 18rem;
  }
  nav div.cart svg {
    width: 6vh;
    height: 6vh;
  }
  nav div.cart div.number, nav div.cart div.number-0 {
    position: relative;
    width: 26px;
    height: 26px;
    top: 4rem;
    right: 2rem;
  }
  nav ul.menuNav {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 3;
  }
  nav ul.menuNav.showMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(199, 176, 139);
    max-width: 360px;
    top: 6.2rem;
  }
  nav ul.menuNav.showMenu li {
    border-bottom: 1px solid white;
    padding-top: 2rem;
    margin: 1rem;
    width: 80%;
    text-align: center;
  }
  nav ul.menuNav.showMenu li a {
    color: black;
  }
  nav ul.menuNav.showMenu li a:hover {
    color: #d13e3e;
  }
  nav button {
    position: absolute;
  }
  div.slides img.slidesImg {
    min-height: 75vh;
  }
  div.slides p.font {
    font-size: 2rem;
  }
  div.slides p.filterfont {
    font-size: 1rem;
  }
  div.slides button.shopNow {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
  }
  section.cardsFrame {
    position: relative;
  }
  section.cardsFrame div.cards1, section.cardsFrame div.cards2 {
    position: relative;
    right: 4rem;
  }
  .imgAbout {
    min-height: 75vh;
  }
  div.text {
    top: -32rem;
  }
  div.text p {
    padding: 10px;
    font-size: 1rem;
  }
  h2.cart {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
  }
  .title {
    justify-content: start;
    border-bottom: none;
    margin: 0;
  }
  .title p {
    visibility: hidden;
  }
  .table .products {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .table .products img {
    width: 230px;
    height: 180px;
  }
  .table .products p.pTitle {
    position: relative;
    margin: 0;
    text-align: center;
    left: 1rem;
    font-size: 1.75rem;
  }
  .table .products .qContainer {
    position: relative;
    left: 2rem;
  }
  .table .products .qContainer p.qbox {
    font-size: 1.75rem;
  }
  .table .products p.price {
    position: relative;
    left: 4.5rem;
    font-size: 1.3rem;
  }
  .totalPrice {
    justify-content: center;
    width: 230px;
  }
  .checkout {
    width: 180px;
    margin: 1rem 1.8rem;
  }
  h5 {
    margin: 1rem 0;
    width: 250px;
  }
}
@media screen and (min-width: 370px) and (max-width: 380px) {
  nav {
    top: -1px;
  }
  nav div.icon {
    position: absolute;
    max-width: 80px;
    max-height: 80px;
  }
  nav div.icon p.iconStyle {
    font-size: 1.2rem;
  }
  nav div.cart {
    position: fixed;
    top: -0.5rem;
    left: 19rem;
  }
  nav div.cart svg {
    width: 6vh;
    height: 6vh;
  }
  nav div.cart div.number, nav div.cart div.number-0 {
    position: relative;
    width: 26px;
    height: 26px;
    top: 4rem;
    right: 2rem;
  }
  nav ul.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 3;
  }
  nav ul.menuNav.showMenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(199, 176, 139);
    max-width: 375px;
    top: 6.2rem;
  }
  nav ul.menuNav.showMenu li {
    border-bottom: 1px solid white;
    padding-top: 2rem;
    margin: 1rem;
    width: 100%;
    text-align: center;
  }
  nav ul.menuNav.showMenu li a {
    color: black;
  }
  nav ul.menuNav.showMenu li a:hover {
    color: #d13e3e;
  }
  nav button {
    position: absolute;
  }
  div.slides img.slidesImg {
    min-height: 85vh;
  }
  div.slides p.font {
    font-size: 2rem;
  }
  div.slides p.filterfont {
    font-size: 1rem;
  }
  div.slides button.shopNow {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
  }
  section.cardsFrame {
    position: relative;
  }
  section.cardsFrame div.cards1, section.cardsFrame div.cards2 {
    position: relative;
    right: 3.8rem;
  }
  .imgAbout {
    min-height: 75vh;
  }
  div.text {
    top: -30rem;
  }
  div.text p {
    padding: 10px;
    font-size: 1rem;
  }
  h2.cart {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
  }
  .title {
    justify-content: start;
    border-bottom: none;
    margin: 0;
  }
  .title p {
    visibility: hidden;
  }
  .table .products {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .table .products img {
    width: 230px;
    height: 180px;
  }
  .table .products p.pTitle {
    position: relative;
    margin: 0;
    text-align: center;
    left: 1rem;
    font-size: 1.75rem;
  }
  .table .products .qContainer {
    position: relative;
    left: 2rem;
  }
  .table .products .qContainer p.qbox {
    font-size: 1.75rem;
  }
  .table .products p.price {
    position: relative;
    left: 4.5rem;
    font-size: 1.3rem;
  }
  .totalPrice {
    justify-content: center;
    width: 230px;
  }
  .checkout {
    width: 180px;
    margin: 1rem 1.8rem;
  }
  h5 {
    margin: 1rem 0;
    width: 250px;
  }
}
@media screen and (min-width: 380px) and (max-width: 394px) {
  nav {
    top: -1px;
  }
  nav div.icon {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
  }
  nav div.icon p.iconStyle {
    font-size: 1.4rem;
  }
  nav div.cart {
    position: fixed;
    top: -0.5rem;
    left: 20rem;
  }
  nav div.cart svg {
    width: 6vh;
    height: 6vh;
  }
  nav div.cart div.number, nav div.cart div.number-0 {
    position: relative;
    width: 26px;
    height: 26px;
    top: 4.5rem;
    right: 2rem;
  }
  nav ul.menuNav {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 3;
  }
  nav ul.menuNav.showMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(199, 176, 139);
    max-width: 393px;
    top: 6.2rem;
  }
  nav ul.menuNav.showMenu li {
    border-bottom: 1px solid white;
    padding-top: 2rem;
    margin: 1rem;
    width: 100%;
    text-align: center;
  }
  nav ul.menuNav.showMenu li a {
    color: black;
  }
  nav ul.menuNav.showMenu li a:hover {
    color: #d13e3e;
  }
  nav button {
    position: absolute;
  }
  div.slides img.slidesImg {
    min-height: 75vh;
  }
  div.slides p.font {
    font-size: 2rem;
  }
  div.slides p.filterfont {
    font-size: 1rem;
  }
  div.slides button.shopNow {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
  }
  section.cardsFrame {
    position: relative;
  }
  section.cardsFrame div.cards1, section.cardsFrame div.cards2 {
    position: relative;
    right: 3rem;
  }
  .imgAbout {
    min-height: 75vh;
  }
  div.text {
    top: -38rem;
  }
  div.text p {
    padding: 10px;
    font-size: 1.1rem;
  }
  h2.cart {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
  }
  .title {
    justify-content: start;
    border-bottom: none;
    margin: 0;
  }
  .title p {
    visibility: hidden;
  }
  .table .products {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .table .products img {
    width: 250px;
    height: 200px;
  }
  .table .products p.pTitle {
    position: relative;
    margin: 0;
    text-align: center;
    left: 1.5rem;
    font-size: 1.75rem;
  }
  .table .products .qContainer {
    position: relative;
    left: 3rem;
  }
  .table .products .qContainer p.qbox {
    font-size: 1.75rem;
  }
  .table .products p.price {
    position: relative;
    left: 5rem;
    font-size: 1.3rem;
  }
  .totalPrice {
    justify-content: center;
    width: 250px;
  }
  .checkout {
    width: 200px;
    margin: 1rem 2rem;
  }
  h5 {
    margin: 1rem 0;
    width: 250px;
  }
}
@media screen and (min-width: 395px) and (max-width: 450px) {
  nav {
    top: -1px;
  }
  nav div.icon {
    position: absolute;
    max-width: 110px;
    max-height: 110px;
  }
  nav div.icon p.iconStyle {
    font-size: 1.6rem;
  }
  nav div.cart {
    position: fixed;
    top: -0.5rem;
    left: 20rem;
  }
  nav div.cart svg {
    width: 6vh;
    height: 6vh;
  }
  nav div.cart div.number, nav div.cart div.number-0 {
    position: relative;
    width: 26px;
    height: 26px;
    top: 4.5rem;
    right: 2rem;
  }
  nav ul.menuNav {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 3;
  }
  nav ul.menuNav.showMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    min-height: 80vh;
    background-color: rgb(199, 176, 139);
    max-width: 416px;
    top: 6.2rem;
  }
  nav ul.menuNav.showMenu li {
    border-bottom: 1px solid white;
    padding-top: 2rem;
    margin: 1rem;
    width: 100%;
    text-align: center;
  }
  nav ul.menuNav.showMenu li a {
    color: black;
  }
  nav ul.menuNav.showMenu li a:hover {
    color: #d13e3e;
  }
  nav button {
    position: absolute;
    right: 3rem;
  }
  div.slides img.slidesImg {
    min-height: 75vh;
  }
  div.slides p.font {
    font-size: 2.8rem;
  }
  div.slides p.filterfont {
    font-size: 1.8rem;
  }
  div.slides button.shopNow {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
  }
  section.cardsFrame {
    position: relative;
  }
  section.cardsFrame div.cards1, section.cardsFrame div.cards2 {
    position: relative;
    right: 3rem;
  }
  .imgAbout {
    min-height: 75vh;
  }
  div.text {
    top: -38rem;
  }
  div.text p {
    padding: 10px;
    font-size: 1.1rem;
  }
  h2.cart {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
  }
  .title {
    justify-content: start;
    border-bottom: none;
    margin: 0;
  }
  .title p {
    visibility: hidden;
  }
  .table .products {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .table .products img {
    width: 250px;
    height: 200px;
  }
  .table .products p.pTitle {
    position: relative;
    margin: 0;
    text-align: center;
    left: 1.5rem;
    font-size: 1.75rem;
  }
  .table .products .qContainer {
    position: relative;
    left: 3rem;
  }
  .table .products .qContainer p.qbox {
    font-size: 1.75rem;
  }
  .table .products p.price {
    position: relative;
    left: 5rem;
    font-size: 1.3rem;
  }
  .totalPrice {
    justify-content: center;
    width: 250px;
  }
  .checkout {
    width: 200px;
    margin: 1rem 2rem;
  }
  h5 {
    margin: 1rem 0;
    width: 250px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  nav button {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */